$mainBlue: #03bbdd; 
$mainOrange: #f89c38;
$mainGrey: #f7f7f7;
$mainPurple: #522E82;
$halloweenOrange: #F79323;
$paragraphGrey: #231341;
$testimonialPink: #f6d5df;
$testimonialPinkBackground: #fefbfc;
$testimonialBlue:#86ddee;
$testimonialBlueBackground:#f8fdfe;
$testimonialYellow: #fbcd9e;
$testimonialYellowBackground: #fffcfa; 
$testimonialOrange: #fff1a8;
$testimonialOrangeBackground: #fffefa;
$testimonialPurple: #d3aad1;
$testimonialPurpleBackground: #fcfafc;
$testimonialGreen: #b7e1bb;
$testimonialGreenBackground: #fbfdfb;






