ul {
    padding-inline-start: 0px;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 4rem;
    list-style: none;
}

.nav-link{
    font-size: 18px; 
    font-weight: 400;
    color: #475569;
    text-decoration: none;
    font-family: 'bree_serifregular',Georgia,"Times New Roman",serif;
}

/* .nav-link:hover{
    color: #482ff7;
} */

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {

    html {
        scroll-padding-top: 77px;
    }

    .header {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .navbar {
        flex-direction: row-reverse;
        z-index: 2
    }
    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 61px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        /* border-radius: 10px; */
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 2;
    }

    .nav-menu.active {
        background-color: white;
        left: 0;
    }

    .nav-item {
        /* margin: 1rem 0; */
        margin: 0;
        padding: 1rem 0;
        border-bottom: 1px solid lightgrey;
        width: 90%;
    }

    .nav-overlay.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1
    }

    .nav-overlay {
        background-color: rgba(0, 0, 0, 0, 0);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active {
        background-color: #fff;
    }

     .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}