.announcementBar {
    @mixin atLarge {
        background-color: rgb(194, 0, 13);
        padding-top: 20px; 
        padding-bottom: 20px;
        text-align: center; 
        font-family: "open_sansregular",Arial,sans-serif;
        color: white; 
        font-size: 17px; 
        font-weight: 500; 
        line-height: 24px; 

    }

    &--marginZero {
        display:none; 
        
        @mixin atLarge {
            display: inline; 
            margin-bottom: 0; 
            margin-top: 0; 

        }

        
    }

}