.callToAction {
    max-width: 1077px; 
    
    &--sideItem {
        @mixin atLarge {
            max-width: 370px; 
        }
        
    }
}

.secondary-timer {
    @mixin atLarge {
        display: none; 

    }
}