.pastKrates {
    display: flex; 
    flex-direction: row; 
    justify-content: center;

    &__container {
        position: relative; 
    }

    &__imageContainer {
        display: flex; 
        flex-direction: column; 
        background-color: white; 
        padding-bottom: 15px; 
        justify-content: center; 
        align-items: center; 
        @mixin atLarge {
            flex-direction: row; 
            background-color: $mainGrey;
            padding: 0px 38px; 
            max-width: 1080px;
            margin-left: auto; 
            margin-right: auto; 
        }
    }
  
  

    &__krate {
        display: none; 
        @mixin atLarge {
            display: inline !important; 
            padding-left: 15px; 
            padding-right: 15px; 
        }

    }

    &__active {
        position: relative; 
        @mixin atLarge {
            display: flex; 
        }
    }

    &__text {
        color:#594f6e;
        font-size: 15px;
        position: absolute; 
        top: 10px;
        width: 300px; 
        text-align: center;
        font-family: 'bree_serifregular',Georgia,"Times New Roman",serif;

    }

    &__month {
        font-family: 'bree_serifregular',Georgia,"Times New Roman",serif;
        font-size: 18px; 
        color: #594f6e; 
        letter-spacing: 1px;
        line-height: 18px; 
        text-align: center;
    }

    &__value {
        text-align: center; 
        color: #231341;
        font-family: "open_sansregular",Arial,sans-serif;
        font-size: 14px; 
        font-weight: 500; 
        line-height: 23.8px;
    }

    &__prev, &__next {
        cursor: pointer;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: #594f6e;
        text-align: center; 
        justify-content: center;

        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;

        @mixin atLarge {
            display: none; 
        }

    }

    &__prev:hover, &__next:hover {
        background-color: rgba(133, 130, 130, 0.8);
    }


    &__next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    &__fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;

        @mixin atLarge {

        }
    }

    &__dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        @mixin atLarge {
            display: none; 
        }

    }

}

.active {
    background-color: #717171; 
}