.wrapper {
    padding: 0px 38px; 
    max-width: 1080px;
    margin-left: auto; 
    margin-right: auto; 


    &--flexboxRow {
        @mixin atLarge {
            display: flex;
            flex-direction: row;
            
        }
        
    }

    &__msaCopy {
        @mixin atLarge {
            padding: 0px; 
        }
        
    }

  
}